<Modal @ref="_modal">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>
                Confirm @(ActionName ?? string.Empty)
            </ModalTitle>
            <CloseButton Display="@(Executing ? Display.None : Display.InlineBlock)"/>
        </ModalHeader>

        <ModalFooter Flex="Flex.AlignContent.Start">
            <Button Disabled="@Executing" Color="Color.Primary" Clicked="Execute">YES</Button>
            <Button Disabled="@Executing" Color="Color.Secondary" Clicked="Dismiss">No</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    [Parameter]
    public string? ActionName { get; set; }

    [Parameter]
    public Func<Task>? Action { get; set; }

    public bool Executing { get; private set; }

    private Modal? _modal;

    public Task Show()
        => _modal?.Show() ?? Task.CompletedTask;

    private async Task Execute()
    {
        Executing = true;

        await (Action?.Invoke() ?? Task.CompletedTask);

        Executing = false;

        await (_modal?.Hide() ?? Task.CompletedTask);
    }

    private Task Dismiss()
        => _modal?.Hide() ?? Task.CompletedTask;

}