@inject IJSRuntime JsRuntime

@typeparam T

<TopLevelModal @ref="_modal">
    <ModalContent Size="Size" Centered>
        <ModalHeader>
            <ModalTitle>
                Confirm @(_value is null ? string.Empty : ActionName?.Invoke(_value) ?? string.Empty)
            </ModalTitle>
            <CloseButton Display="@(Executing ? Display.None : Display.InlineBlock)"/>
        </ModalHeader>


        @if (Executing)
        {
            <ModalBody>
                <LoaderComponent/>
            </ModalBody>
        }

        <ModalFooter Flex="Flex.AlignContent.Start">

            @if (Executing is false)
            {
                <Button Color="Color.Primary" Clicked="Execute">YES</Button>
                <Button Color="Color.Secondary" Clicked="Dismiss">No</Button>
            }
            else
            {
                <Button Disabled="@Cancelled" Color="Color.Danger" Clicked="Cancel">Cancel</Button>
            }

        </ModalFooter>
    </ModalContent>
</TopLevelModal>

@code {

    [Parameter]
    public Func<T, string>? ActionName { get; set; }

    [Parameter]
    public Func<T, CancellationToken, Task>? Action { get; set; }

    [Parameter]
    public ModalSize Size { get; set; }

    public bool Executing { get; private set; }
    public bool Cancelled { get; private set; }

    private Modal? _modal;
    private CancellationTokenSource _cts = new CancellationTokenSource();

    private T? _value;

    public async Task Show(T value)
    {
        if (_modal is null)
            return;

        _value = value;
        await _modal.Show();
    }

    private Task Dismiss()
    {
        return _modal?.Hide() ?? Task.CompletedTask;
    }

    private async Task Execute()
    {
        if (_value is null)
            return;

        if (Executing)
            return;

        Executing = true;

        try
        {
            await (Action?.Invoke(_value, _cts.Token) ?? Task.CompletedTask);
        }
        catch (OperationCanceledException)
        {
            _cts = new CancellationTokenSource();
        }

        await (_modal?.Hide() ?? Task.CompletedTask);

        Executing = false;
        Cancelled = false;
    }

    private void Cancel()
    {
        if (Cancelled)
            return;

        Cancelled = true;
        _cts.Cancel();
    }

}