@page "/adminpanel/global"
@using Kysect.Shreks.WebUI.AdminPanel.Components.Global

<Div Display="Display.Flex" Flex="Flex.Column.AlignContent.Start">
    
    <CardDeck>
        <GlobalGithubManagementComponent/>
    </CardDeck>

</Div>

@code {
    
}