@using Kysect.Shreks.WebUI.AdminPanel.ExceptionHandling
@using Kysect.Shreks.WebUI.AdminPanel.SafeExecution
@using Kysect.Shreks.Application.Dto.Study
@inject IAssignmentClient Client
@inject ISafeExecutor SafeExecutor

@if (_groupAssignments is not null)
{
    <Div>
        @foreach (var group in _groupAssignments.OrderBy(x => x.GroupName))
        {
            <GroupAssignmentComponent Assignment="Assignment" Group="group"/>
        }
    </Div>
}

@code {

    [Parameter]
    public AssignmentDto? Assignment { get; set; }

    private IReadOnlyCollection<GroupAssignmentDto>? _groupAssignments;

    protected override async Task OnInitializedAsync()
    {
        if (Assignment is null)
            return;

        await using ISafeExecutionBuilder<IReadOnlyCollection<GroupAssignmentDto>> builder = SafeExecutor
            .Execute(async () => _groupAssignments = await Client.GetGroupAssignmentsAsync(Assignment.Id));
        builder.Title = "Failed to load group assignments";
    }


}