@inherits LayoutComponentBase

<Layout>
    <LayoutContent Height="Height.Is100" Width="Width.Is100">
        <Div Padding="Padding.Is4" Height="Height.Is100" Width="Width.Is100">
            @Body
        </Div>
    </LayoutContent>
</Layout>

@code {

}