@using Kysect.Shreks.WebUI.AdminPanel.Identity

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IIdentityManager IdentityManager
@implements IDisposable

<div>
    <Layout>
        @if (!IsIdentity)
        {
            <LayoutHeader>
                <NavMenu/>
            </LayoutHeader>
        }

        <LayoutContent Height="Height.Is100" Width="Width.Is100">
            <Div Padding="Padding.Is4" Height="Height.Is100" Width="Width.Is100">
                @Body
            </Div>
        </LayoutContent>
    </Layout>
</div>

@code{
    public string RouteName = "";
    public bool IsIdentity;

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        RouteName = args.Location;
    }

    protected override async Task OnInitializedAsync()
    {
        if (await IdentityManager.HasIdentityAsync(default) is false)
        {
            IsIdentity = true;
            NavigationManager.NavigateTo("adminpanel/identity/login");
        }

        RouteName = NavigationManager.Uri;
        IsIdentity = RouteName.Contains("identity");
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

}