@using ITMO.Dev.ASAP.WebUI.AdminPanel.Models
@using ITMO.Dev.ASAP.Application.Dto.SubjectCourses
@using ITMO.Dev.ASAP.Application.Dto.Study
@using ITMO.Dev.ASAP.WebUI.AdminPanel.Components.Groups
@inject IStudyGroupClient StudyGroupClient

@if (_groups is not null)
{
    <Div>
        @foreach (var group in _groups.OrderBy(x => x.Group.Name))
        {
            <StudyGroupInfoComponent Group="@group.Group"/>
        }
    </Div>
}
else
{
    <LoaderComponent/>
}

@code {

    private IReadOnlyCollection<ExtendedSubjectCourseGroupDto>? _groups;

    [Parameter]
    public IEnumerable<SubjectCourseGroupDto>? SubjectCourseGroups { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (SubjectCourseGroups is null)
            return;

        IEnumerable<Guid> groupIds = SubjectCourseGroups.Select(x => x.StudentGroupId);
        IReadOnlyCollection<StudyGroupDto> studyGroups = await StudyGroupClient.GetAsync(groupIds);

        _groups = SubjectCourseGroups.Join
            (
                studyGroups,
                x => x.StudentGroupId,
                x => x.Id,
                (courseGroup, group) => (courseGroup, group)
            )
            .Select(pair => new ExtendedSubjectCourseGroupDto(pair.courseGroup, pair.group))
            .ToArray();
    }

}