@using Kysect.Shreks.WebApi.Sdk
@inject IGithubManagementClient Client

<Button Clicked="OnClickedAsync" Color="Color.Secondary" Disabled="@(_component?.Executing ?? false)">
    Sync GitHub Mentors
</Button>

<ConfirmationComponent @ref="_component" Action="SyncAsync" ActionName="github mentors sync"/>

@code {

    [Parameter]
    public string? OrganizationName { get; set; }

    private ConfirmationComponent? _component;

    private Task SyncAsync(CancellationToken cancellationToken)
        => OrganizationName is null ? Task.CompletedTask : Client.ForceMentorsSyncAsync(OrganizationName, cancellationToken);

    private Task OnClickedAsync()
        => _component?.Show() ?? Task.CompletedTask;

}