@page "/adminpanel/subjects"
@using Kysect.Shreks.WebUI.AdminPanel.ExceptionHandling
@using Kysect.Shreks.WebUI.AdminPanel.SafeExecution
@using Kysect.Shreks.Application.Dto.Study
@using Kysect.Shreks.WebUI.AdminPanel.Components.Subjects
@using Kysect.Shreks.WebUI.AdminPanel.Components
@inject ISubjectClient SubjectClient
@inject ISafeExecutor SafeExecutor

@if (_subjects is not null)
{
    <Heading Size="HeadingSize.Is2">
        Subjects
    </Heading>

    <Div>
        @foreach (SubjectDto subject in _subjects.OrderBy(x => x.Title.Length))
        {
            <SubjectInfoComponent Subject=@subject/>
        }
    </Div>
} else
{
    <LoaderComponent/>
}


@code {
    private IReadOnlyCollection<SubjectDto>? _subjects;

    protected override async Task OnInitializedAsync()
    {
        await using ISafeExecutionBuilder<IReadOnlyCollection<SubjectDto>> builder =
            SafeExecutor.Execute(async () => _subjects = await SubjectClient.GetAsync());
        builder.Title = "Failed to load subjects";
        builder.ShowExceptionDetails = true;
    }

}