@page "/adminpanel/subjects"
@using Kysect.Shreks.WebApi.Sdk
@using Kysect.Shreks.WebUI.AdminPanel.Components
@inject SubjectClient SubjectClient

@if (_subjects is not null)
{
    <Heading Size="HeadingSize.Is2">
        Subjects
    </Heading>

    <Div>
        @foreach (var subject in _subjects.OrderBy(x => x.Title.Length))
        {
            <Card Margin="Margin.Is2" Width="Width.Max100">
                <CardBody Flex="Flex.JustifyContent.Between">
                    <Heading Margin="Margin.Is0.FromBottom">
                        @subject.Title
                    </Heading>

                    <Anchor To="@($"adminpanel/subjects/{subject.Id}")" Flex="Flex.AlignItems.Center">
                        View
                    </Anchor>
                </CardBody>
            </Card>
        }
    </Div>
}
else
{
    <LoaderComponent/>
}


@code {
    private ICollection<SubjectDto>? _subjects;

    protected override async Task OnInitializedAsync()
    {
        _subjects = await SubjectClient.SubjectGetAsync();
    }

}