@page "/adminpanel/subjects/{subjectId:guid}"
@using Kysect.Shreks.WebUI.AdminPanel.ExceptionHandling
@using Kysect.Shreks.Application.Dto.SubjectCourses
@using Kysect.Shreks.WebUI.AdminPanel.Components.SubjectCourse
@using Kysect.Shreks.WebUI.AdminPanel.Components
@inject ISubjectClient SubjectClient
@inject ISafeExecutor SafeExecutor
@inject NavigationManager NavigationManager

@if (_courses is not null)
{
    <Div Display="Display.Flex" Flex="Flex.Column.AlignContent.Start">
        <Heading Size="HeadingSize.Is1">
            Courses
        </Heading>

        <Div>
            @foreach (var course in _courses)
            {
                <SubjectCourseComponent SubjectCourse="@course"/>
            }
        </Div>
    </Div>
}
else
{
    <LoaderComponent/>
}

@code {

    [Parameter]
    public Guid SubjectId { get; set; }

    private IReadOnlyCollection<SubjectCourseDto>? _courses;

    protected override async Task OnInitializedAsync()
    {
        await using var builder = SafeExecutor.Execute(async () => { _courses = await SubjectClient.GetCoursesAsync(SubjectId); });

        builder.Title = "Failed to load subject course";

        builder.OnFailAsync<Exception>(_ =>
        {
            NavigationManager.NavigateTo("/");
            return Task.CompletedTask;
        });
    }

}