@page "/adminpanel/subjects/{subjectId:guid}"
@using Kysect.Shreks.WebApi.Sdk
@using Kysect.Shreks.WebUI.AdminPanel.Components
@inject SubjectClient SubjectClient

@if (_courses is not null)
{
    <Div Display="Display.Flex" Flex="Flex.Column.AlignContent.Start">
        <Heading Size="HeadingSize.Is1">
            Courses
        </Heading>

        <CardDeck>
            @foreach (var course in _courses)
            {
                <SubjectCourseView SubjectCourse="course"/>
            }
        </CardDeck>
    </Div>
}
else
{
    <LoaderComponent/>
}

@code {

    [Parameter]
    public Guid SubjectId { get; set; }

    private ICollection<SubjectCourseDto>? _courses;

    protected override async Task OnInitializedAsync()
    {
        _courses = await SubjectClient.CoursesAsync(SubjectId);
    }

}