@page "/adminpanel/subjects"
@using Kysect.Shreks.WebApi.Sdk
@using Kysect.Shreks.WebUI.AdminPanel.Components.Subjects
@using Kysect.Shreks.WebUI.AdminPanel.Components
@using Kysect.Shreks.WebUI.AdminPanel.ExceptionHandling
@inject SubjectClient SubjectClient
@inject ISafeExecutor SafeExecutor

@if (_subjects is not null)
{
    <Heading Size="HeadingSize.Is2">
        Subjects
    </Heading>

    <Div>
        @foreach (var subject in _subjects.OrderBy(x => x.Title.Length))
        {
            <SubjectInfoComponent Subject=@subject/>
        }
    </Div>
}
else
{
    <LoaderComponent/>
}


@code {
    private ICollection<SubjectDto>? _subjects;

    protected override async Task OnInitializedAsync()
    {
        await using var builder = SafeExecutor.Execute(async () => _subjects = await SubjectClient.SubjectGetAsync());
    }

}