@page "/adminpanel/groups"
@using Kysect.Shreks.WebUI.AdminPanel.ExceptionHandling
@using Kysect.Shreks.WebUI.AdminPanel.SafeExecution
@using Kysect.Shreks.Application.Dto.Study
@using Kysect.Shreks.WebUI.AdminPanel.Components.Groups
@using Kysect.Shreks.WebUI.AdminPanel.Components
@inject IStudyGroupClient StudyGroupClient
@inject ISafeExecutor SafeExecutor

@if (_groups is not null)
{
    <Heading Size="HeadingSize.Is2">
        Groups
    </Heading>

    <Div>
        @foreach (var group in _groups.OrderBy(x => x.Name))
        {
            <StudyGroupInfoComponent Group="group"/>
        }
    </Div>
}
else
{
    <LoaderComponent/>
}

@code {
    private IReadOnlyCollection<StudyGroupDto>? _groups;

    protected override async Task OnInitializedAsync()
    {
        await using ISafeExecutionBuilder<IReadOnlyCollection<StudyGroupDto>> builder =
            SafeExecutor.Execute(async () => _groups = await StudyGroupClient.GetAsync());
    }

}