@using Kysect.Shreks.Application.Dto.Users
@inject IStudentClient StudentClient

@if (Student is not null)
{
    <TableRow>
        <TableRowHeader>@(Student.UniversityId?.ToString() ?? string.Empty)</TableRowHeader>

        <TableRowCell>
            @FullName
        </TableRowCell>

        <TableRowCell>
            <Div Flex="Flex.Row.JustifyContent.Center">
                <Button Color="Color.Danger" Clicked="ButtonClicked">Remove</Button>
            </Div>
        </TableRowCell>
    </TableRow>

    <ConfirmationComponent @ref="_component" Action="SendAsync" ActionName="@($"remove {FullName}")"/>
}

@code {

    private ConfirmationComponent? _component;

    [Parameter]
    public StudentDto? Student { get; set; }

    [Parameter]
    public StudyGroupComponent? GroupComponent { get; set; }

    private string FullName => Student is null
        ? string.Empty
        : $"{Student.User.LastName} {Student.User.FirstName} {Student.User.MiddleName}";

    private Task ButtonClicked()
    {
        return _component?.Show() ?? Task.CompletedTask;
    }

    private async Task SendAsync(CancellationToken cancellationToken)
    {
        if (Student is null)
            return;

        await StudentClient.DismissFromGroupAsync(Student.User.Id, cancellationToken);

        await (GroupComponent?.ReloadStudents() ?? Task.CompletedTask);
    }

}