@using Kysect.Shreks.Application.Dto.Users
@using Kysect.Shreks.WebApi.Abstractions.Models.StudyGroups
@using Kysect.Shreks.Application.Dto.Study
@inject IStudentClient StudentClient
@inject IStudyGroupClient GroupClient

@if (Group is not null)
{
    <Div>

        <Div Flex="Flex.Column">

            <Fields>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit @bind-Text="Group.Name"/>
                </Field>
            </Fields>

            <Button Color="Color.Primary"
                    Clicked="ButtonClicked"
                    Type="@ButtonType.Submit"
                    PreventDefaultOnSubmit>
                Update
            </Button>
        </Div>

        <StudyGroupStudentsComponent Students="_students" Parent="this"/>
    </Div>

    <ConfirmationComponent @ref="_component"
                           Action="SendAsync"
                           ActionName="@($"change group name to {Group?.Name ?? string.Empty}")"/>
}

@code {

    private IReadOnlyCollection<StudentDto>? _students;
    private ConfirmationComponent? _component;

    [Parameter]
    public StudyGroupDto? Group { get; set; }

    protected override Task OnInitializedAsync()
    {
        return ReloadStudents(false);
    }

    public async Task ReloadStudents(bool notify = true)
    {
        if (Group is null)
            return;

        _students = await GroupClient.GetStudentsAsync(Group.Id);

        if (notify)
        {
            StateHasChanged();
        }
    }

    private Task ButtonClicked()
    {
        return _component?.Show() ?? Task.CompletedTask;
    }

    private Task SendAsync(CancellationToken cancellationToken)
    {
        if (Group is null)
            return Task.CompletedTask;

        var request = new UpdateStudyGroupRequest(Group.Name);
        return GroupClient.UpdateAsync(Group.Id, request, cancellationToken);
    }

}