@page "/adminpanel/global"
@using ITMO.Dev.ASAP.WebUI.AdminPanel.Components.Global

<Div Display="Display.Flex" Flex="Flex.Column.AlignContent.Start">

    <CardDeck>
        <GlobalGithubManagementComponent/>
    </CardDeck>

</Div>

@code {

}