@using Kysect.Shreks.WebUI.AdminPanel.ExceptionHandling
@using Kysect.Shreks.WebUI.AdminPanel.Models
@implements IDisposable
@inject IExceptionStore Store
@inject IJSRuntime Js

<Div Style="z-index: 10000; position: absolute" Width="Width.Max100" Height="Height.Max100">

    <Div Position="Position.Fixed.End.Is0.Bottom.Is0"
         Overflow="Overflow.Scroll"
         Height="Height.Max100"
         Flex="Flex.ReverseColumn"
         Class="hide-scroll-bar">

        <Div Flex="Flex.Column">
            @foreach (var message in Store.Exceptions)
            {
                <ExceptionMessageComponent Message="@message"Dismiss="Store.Dismiss"/>
            }
        </Div>
    </Div>

</Div>


@code {

    protected override void OnInitialized()
    {
        Store.ExceptionAdded += Added;
        Store.ExceptionDismissed += Dismissed;
    }

    public void Dispose()
    {
        Store.ExceptionAdded -= Added;
        Store.ExceptionDismissed -= Dismissed;
    }

    private void Added(ExceptionMessage message)
    {
        StateHasChanged();
    }

    private void Dismissed(ExceptionMessage message)
    {
        StateHasChanged();
    }

}